name: test

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 10 * * 5" # JST 19:00 (Fri)

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - "2.3"
        image:
          - debian:bullseye
          - debian:bookworm

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle update --jobs $(nproc) --retry 3

      - name: Start container
        run: |
          set -xe

          case "$IMAGE" in
          "debian:"* )
            docker run --name tmp-debian $IMAGE bash -c "apt-get update && apt-get install -y systemd-sysv"
            docker commit tmp-debian debian-with-systemd
            docker run --privileged -d --name container-with-service debian-with-systemd /sbin/init
            ;;
          esac
        env:
          IMAGE: ${{ matrix.image }}

      - name: Run Itamae
        run: |
          set -xe
          bundle exec itamae docker --node-yaml=recipes/node.yml recipes/install.rb --container=container-with-service --tag itamae-plugin:latest

      - name: Run Serverspec
        run: |
          set -xe
          bundle exec rspec
        env:
          DOCKER_CONTAINER: container-with-service

      - name: Slack Notification (not success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: "! success()"
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
          matrix: ${{ toJson(matrix) }}

  notify:
    needs:
      - test

    runs-on: ubuntu-latest

    steps:
      - name: Slack Notification (success)
        uses: act10ns/slack@cfcc30955fe9377f4f55e1079e5419ee1014269f # v2
        if: always()
        continue-on-error: true
        with:
          status: ${{ job.status }}
          webhook-url: ${{ secrets.SLACK_WEBHOOK }}
